<h1 class='text-center'>Log in</h1>

<div class="wrapper fadeInDown">
  <div id="formContent">

<div class="row">
  <div class="col-md-6 offset-3">
    <%= bootstrap_form_with(url: login_path, scope: :session, local: true) do |f| %>
      <%= f.email_field :email, class: 'class="fadeIn second"' %>
      <%= f.password_field :password, class: 'fadeIn third' %>

      <%= f.submit "Log in", class: "fadeIn fourth" %>
    <% end %>

  </div>
</div>

  <div id="formFooter">
    <%= link_to "Register", signup_path, class: "underlineHover" %> 
  </div>

  </div>
</div>