<h1 class='text-center'>Sign up</h1>

<div class="wrapper fadeInDown">
  <div id="formContent">


<div class="row">
  <div class="col-md-4 offset-4">
    <%= bootstrap_form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, class: 'fadeIn first' %>

      <%= f.email_field :email, class: 'fadeIn second' %>

      <%= f.password_field :password, class: 'fadeIn third' %>

      <%= f.password_field :password_confirmation, class: 'fadeIn fourth' %>

      <%= f.submit "Create my account", class: "fadeIn fourth" %>
    <% end %>
  </div>
</div>


  </div>
</div>
